<div class="container">
  <div class="jumbotron" id="survey-content">

    <!-- headline and subheadline -->
    <h1 id="title">What Kind of Mommy Are You?</h1>

    <div class="container row bar-logo-row">
      <!-- progress bar for questions -->
      <div class="barBg col-md-6 hidden">
        <div class="bar"></div>
      </div>
      <div class="start-button-div col-md-6">
        <button class="btn btn-success btn-lg" id="start-button">Take the Survey!</button>
      </div>
      <div class="subheading col-md-6">
        Brought to you by
        <%= image_tag "Logo-2-.png", alt: "Today's Apple", :id => "logo" %>
      </div>
    </div>

    <!-- survey description -->
    <div class="row" id="survey-description">
      <div class="col-md-6 survey-description-text">
        <%= @survey.description.html_safe %>
      </div>
      <div class="col-md-6 family-pic-div">
        <%= image_tag "Family pic.jpg", alt: "Parenting Styles", :class => "img-responsive" %>
      </div>
    </div>

    <!-- survey questions -->
    <div id="questions-panel">
      <span><p id="question-number">Question:</p></span>

      <ol>
        <% @survey.questions.each do |question| %>
          <li class="question">
            <p><%= question.text %></p>

            <div class="row container radiowrapper-container">
              <% question.options.each do |option| %>
                <div class="col-md-6 radiowrapper">
                  <% if option.text.include? "<split>" %>
                    <% text_array = option.text.split("<split>") %>
                    <input type="radio" name="answer" value="<%= option.weight %>" id="answer<%= option.id %>">
                    <label for="answer<%= option.id %>"><%= text_array[1].html_safe %></label><br/>
                    <button class="btn btn-default btn-sm description-button">Learn More About <%= text_array[0] %></button>
                    <div class="col-md-12 description-div"><%= text_array[2].html_safe %></div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
      </ol>

      <div class="button-div row">
        <div class="col-md-4 col-md-offset-4"><button class="btn btn-success btn-lg" id="next-button">Next Question</button></div>
        <div class="col-md-4"><p class="warning">You must select an answer to continue.</p></div>
      </div>
    </div>

    <!-- for the processing circles animation -->
    <ul class="hidden-progress" id="progress">
      <li>
      <div id="layer1" class="ball"></div> <!-- layer1 control delay animation / ball is effect -->
      <div id="layer7" class="pulse"></div> <!-- layer7 control delay animation / pulse is effect  -->
      </li>
      <li>
      <div id="layer2" class="ball"></div>
      <div id="layer8" class="pulse"></div>
      </li>
      <li>
      <div id="layer3" class="ball"></div>
      <div id="layer9" class="pulse"></div>
      </li>
      <li>
      <div id="layer4" class="ball"></div>
      <div id="layer10" class="pulse"></div>
      </li>
      <li>
      <div id="layer5" class="ball"></div>
      <div id="layer11" class="pulse"></div>
      </li>
    </ul>

  </div>
</div>

<footer>
</footer>